*.log
*.aux
.ipynb_checkpoints/
__pycache__/

.DS_Store

.classpath
.project
.settings

*.db

# biblatex / biber
*.bbl
*.bcf
*.blg
*.run.xml

*.o
*.out

target/surefire-reports
*/target/surefire-reports/*

# Mount into linux issues
.viminfo
.bash_history

.cache/
.lldb/
.local/

.python_history

*.pdf
coverage.xml
.coverage

dist/

.env
